@import 'breakpoints';

:host {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr repeat(2, auto);
  padding: 15px 30px;


  @media #{$mat-xs} {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  }
}
