.btn {
  &.primary {
    background: var(--clr-primary);
    color: var(--clr-primary-contrast);
  }

  &.secondary {
    background: var(--clr-secondary);
    color: var(--clr-secondary-contrast);
  }

  &.error {
    background: var(--clr-error);
    color: var(--clr-error-contrast);
  }

  &.success {
    background: var(--clr-success);
    color: var(--clr-success-contrast);
  }

  -webkit-tap-highlight-color: transparent;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .3px;
  line-height: 1.5rem;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s cubic-bezier(.35, 0, .25, 1);
  user-select: none;
  width: 100%;

  &:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    transition: all .2s cubic-bezier(.35, 0, .25, 1);
  }
}
