<ng-container *ngIf="index$ | async as index; else notFound">
  <ng-container *ngIf="thesis$ | async as thesis; else notFound">
    <section class="card">
      <section class="card--image">
        <img [src]="thesis.image" width="450" height="253">
      </section>
      <h2 class="card--header">{{ thesis.category }} </h2>
      <pre class="card--content">{{ thesis.thesis }}</pre>
      <footer class="card--footer">
        <button class="btn success" (click)="answer(index, 'agree')">stimme zu</button>
        <button class="btn" (click)="answer(index, 'neutral')">neutral</button>
        <button class="btn error" (click)="answer(index, 'disagree')">stimme nicht zu</button>
      </footer>
    </section>
    <section class="dots">
      <a [routerLink]="'/thesen/' + (i + 1)" class="dot" routerLinkActive="active"
        *ngFor="let t of config.theses; let i = index"></a>
    </section>
  </ng-container>
</ng-container>

<ng-template #notFound>
  <p>Hoppla, diese These konnte nicht gefunden werden.</p>
</ng-template>
