:host {
  background-color: var(--clr-neutral-1dp);
  bottom: 0;
  color: var(--clr-primary-contrast);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.content {
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: .8px;
  line-height: 4.5rem;
}

pre {
  white-space: pre-line;
  font-size: 1.125rem;
  letter-spacing: .5px;
  line-height: 1.75rem;
  opacity: .85;
  overflow: hidden;
}
